@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Montserrat';
    background-color: $color-BG;
}

.container{
    max-width: $desktop;
    margin: 0 auto;
    padding: 0 15px;
}

.title{
    @include text(700, 20px);
    margin-bottom: 70px;
}