@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Montserrat';
    background-color: $color-BG;
}

.container{
    max-width: $desktop;
    margin: 0 auto;
    padding: 0 15px;
}

.title{
    @include text(700, 20px);
    margin-bottom: 70px;
}

.btn{
    display: block;
    background-color: $color-red;
    padding: 27px 50px;
    border-radius: 100px;
    color: #fff;
    @include text(700, 16px);
    box-shadow: 0 11px 30px #E52114;
}