//Colors

$color-green: #4D8D63;
$color-red: #E94035;
$color-green-light: #E3FFD1;
$color-BG: #F8F8F8;
$color-default: #000;
$color-6: #4D828D;


//Breakpoints

$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$mobile: 480px;
$small-mobile: 90%;