//Colors

$color-green: #4d8d63;
$color-red: #e94035;
$color-green-light: #e3ffd1;
$color-BG: #f8f8f8;
$color-default: #000;
$color-6: #4d828d;

//Breakpoints

$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$mobile: 480px;
$small-mobile: 90%;
